<div class="grid-container">
  <div class="row" [ngClass]="{'noVisibleMenu': visibleSignin}">
  <button type="input" class="btn btn-success" (click)="visibleMenu()">Menu</button>
  <button type="input" class="btn btn-success" (click)="visibleCargarMenu()" style="margin-left: 2%;">Cargar Mapa Conceptual en la Base de Datos</button>
  <h1 class="mat-h1">Análisis de Mapas Conceptuales</h1>
<img src="assets/logoUCLM.png" alt="image" style="width: 60px;
height: 60px;
float: right;
margin-top: -1%;
margin-left: 1%;
" id="imgUCLM">
<img src="assets/logoEsi.jpg" alt="image" style="width: 200px;
height: 60px;
float: right;
margin-top: -1%;
" id="imgESI">
</div>
  <mat-grid-list *ngIf="!img_comparar" [ngClass]="{'noVisibleMenu': visibleMenuComponent || visibleCargarComponent || visibleSignin}" cols="12" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cardsDashboard" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card *ngIf="card.title === 'Modelo Profesor'" class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <!--button mat-menu-item >Guardar</button>
              <button mat-menu-item>Expandir</button-->
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!--ng2-file-input class="input" (onAction)="onAction($event)" ></ng2-file-input-->
          <div class="row">
      <div class="col-md-2 col-lg-3">
      <input type="file" accept=".json" class="btn btn-info import" id="img_2" name="img_2" (change)="importGraph($event)">
    </div>
  </div>
          <button class="btn btn-success"><a href="http://diseniador.josemanuelgcgn.com/" target="_blank" style="color:white;">Ir al Diseñador</a></button>
          <div>
    <app-diagram-editor
     [model]="model"
     (nodeSelected)="showDetails($event)"
     (modelChanged)="onModelChanged($event)"
     [expand]="false">
    </app-diagram-editor>
    <button *ngIf="buttonGrafo" class="btn btn-info" (click)="expandGraph_profesor($event)" style="margin-top: 6px;">Expandir Grafo</button>
    <!--form *ngIf="node" #form="ngForm" (ngSubmit)="onCommitDetails()">
      Node Details:
      <div><label>Key: </label>{{node.key}}</div>
      <div><label>Text: </label><input [(ngModel)]="data.text" name="text"></div>
      <div><label>Color: </label><input [(ngModel)]="data.color" name="color"></div>
      <div><label>Location: </label>{{node.location.x.toFixed(2)}}, {{node.location.y.toFixed(2)}}</div>
      <div><label># Links: </label>{{node.linksConnected.count}}</div>
      <button type="submit">Commit Details</button>
      <button (click)="onCancelChanges()">Cancel Changes</button>
    </form-->
  </div>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="card.title === 'Estadísticas'" class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="updateMetrica($event)">Actualizar Métricas</button>
                <button *ngIf="buttonGrafo" mat-menu-item (click)="expandGraph($event)">Expandir Grafo</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>
                <mat-grid-list cols="2" rowHeight="325px">
                    <mat-grid-tile *ngFor="let card of cardsEstadisticas" [colspan]="card.cols" [rowspan]="card.rows">
                      <mat-card class="dashboard-card">
                        <mat-card-header>
                          <mat-card-title>
                            {{card.title}}
                            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                              <!--button mat-menu-item>Expandir</button-->
                            </mat-menu>
                          </mat-card-title>
                        </mat-card-header>
                        <mat-card-content *ngIf="card.title === 'Métricas'" class="dashboard-card-content">
                          <div class="metricas" style="display: block;">
                              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

                                  <!--- Note that these columns can be defined in any order.
                                        The actual rendered columns are set as a property on the row definition" -->
                                
                                  <!-- Definición de la Métrica -->
                                  <ng-container matColumnDef="def">
                                    <th mat-header-cell *matHeaderCellDef> Def. Métrica </th>
                                    <td mat-cell *matCellDef="let element"> {{element.def}} </td>
                                  </ng-container>
                                
                                  <!-- Valor del Profesor -->
                                  <ng-container matColumnDef="valor_pro">
                                    <th mat-header-cell *matHeaderCellDef> Valor Profesor </th>
                                    <td mat-cell *matCellDef="let element"> {{element.valor_pro}} </td>
                                  </ng-container>
                                  <!-- Valor del Alumno -->
                                  <ng-container matColumnDef="valor_alu">
                                    <th mat-header-cell *matHeaderCellDef> Valor Alumno </th>
                                    <td mat-cell *matCellDef="let element"> {{element.valor_alu}} </td>
                                  </ng-container>
                                
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>

                              <!--canvas baseChart
                                          [data]="doughnutChartData"
                                          [labels]="doughnutChartLabels"
                                          [chartType]="doughnutChartType"
                                          (chartHover)="chartHovered($event)"
                                          (chartClick)="chartClicked($event)"></canvas-->
                            </div>
                            
                            <!--div class="grafico">
                              <div style="display: block">
                                <canvas baseChart
                                        [datasets]="barChartData"
                                        [labels]="barChartLabels"
                                        [options]="barChartOptions"
                                        [legend]="barChartLegend"
                                        [chartType]="barChartType"
                                        (chartHover)="chartHoveredGrafica($event)"
                                        (chartClick)="chartClickedGrafica($event)"></canvas>
                              </div>
                              <button (click)="randomize()">Actualizar</button>
                            </div-->
                        </mat-card-content>
                        <mat-card-content *ngIf="card.title === 'Gráficos comparativa'" class="dashboard-card-content">
                         <div>
                          <app-diagram-editor-comparator
                          [model]="modelComparador"
                          [expand]="false">
                         </app-diagram-editor-comparator>
                   <button *ngIf="buttonGrafo" class="btn btn-info" (click)="expandGraph($event)" style="margin-top: 6px;">Expandir Grafo</button>
                   <button *ngIf="buttonGrafo" class ="btn btn-success" (click)="downloadPDF()" style="margin-top: 6px;margin-left: 41px;">Descargar PDF</button>    
                   <!--div style="display: inline-table; margin-top: 30px;">
                         <div *ngFor="let l of listaNodos" class="listaNodos" >
                            <p class= "Nodo">{{l}}</p>
                         </div>
                        </div-->
                        </div>

                          </mat-card-content>
                      </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            
          </mat-card-content>
        </mat-card>
        <mat-card *ngIf="card.title === 'Modelo Alumno'" class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{card.title}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <!--button mat-menu-item>Guardar</button>
                  <button mat-menu-item>Expandir</button-->
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              
              <!--div ng-app="httpApp" ng-controller="httpController">
                  <ng2-file-input class="input" (onAction)="onAction($event)" ></ng2-file-input>
              </div-->
              <!--form #formulario="ngForm" (ngSubmit)="addActivity(formulario)" autocomplete="off">
              <div class="form-group">
                <input type="file" class="form-control" id="img" name="img">
              </div>
              <button type="submit" class="btn btn-primary">Subir Archivo</button>
            </form-->
            <div class="col-md-2 col-lg-3">
              <input type="file" accept=".json" class="btn btn-info import" id="img" name="img" (change)="addActivity($event)">
            </div>
            <button class="btn btn-success"><a href="http://diseniador.josemanuelgcgn.com/" target="_blank"  style="color:white;">Ir al Diseñador</a></button>
         
          <div>
                <app-diagram-alumno
                 [model]="model3"
                 (nodeSelected)="showDetails($event)"
                 (modelChanged)="onModelChanged($event)"
                 [expand]="false">
                </app-diagram-alumno>
                <button *ngIf="buttonGrafo" class="btn btn-info" (click)="expandGraph_alumno($event)" style="margin-top: 6px;">Expandir Grafo</button>
                <!--orm *ngIf="node" #form="ngForm" (ngSubmit)="onCommitDetails()">
                  Node Details:
                  <div><label>Key: </label>{{node.key}}</div>
                  <div><label>Text: </label><input [(ngModel)]="data.text" name="text"></div>
                  <div><label>Color: </label><input [(ngModel)]="data.color" name="color"></div>
                  <div><label>Location: </label>{{node.location.x.toFixed(2)}}, {{node.location.y.toFixed(2)}}</div>
                  <div><label># Links: </label>{{node.linksConnected.count}}</div>
                  <button type="submit">Commit Details</button>
                  <button (click)="onCancelChanges()">Cancel Changes</button>
                </form-->
              </div>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div *ngIf ="img_comparar" class="img_comparador">
    <button class="btn btn-primary" (click)="changeVolver($event)">Volver a la ventana Principal</button>
    <app-diagram-editor-comparator *ngIf="comparador"
    [model]="modelComparador"
    [expand]="true">
   </app-diagram-editor-comparator>
   <app-diagram-editor *ngIf="editorprofesor"
     [model]="model"
     (nodeSelected)="showDetails($event)"
     (modelChanged)="onModelChanged($event)"
     [expand]="true">
    </app-diagram-editor>
    <app-diagram-alumno *ngIf="editorAlumno"
    [model]="model3"
    (nodeSelected)="showDetails($event)"
    (modelChanged)="onModelChanged($event)"
    [expand]="true">
   </app-diagram-alumno>
  </div>
  <app-data-base-component *ngIf="visibleMenuComponent" [@enterAnimation]
  (onMapaExperto)="asignarMapaDataBaseExperto($event)"
  (onMapaAlumno)="asignarMapaDataBaseAlumno($event)"
  ></app-data-base-component>
<app-cargar-data-base-component *ngIf="visibleCargarComponent" [@enterAnimation]>
</app-cargar-data-base-component>
<app-sign-in-component *ngIf="visibleSignin" 
(onSigin)="signIn($event)"
></app-sign-in-component>
</div>