<div class="grid-container">
  <h1 class="mat-h1">Tabla de Trabajo</h1>
  <mat-grid-list cols="12" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cardsDashboard" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card *ngIf="card.title === 'Modelo Profesor'" class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Guardar</button>
              <button mat-menu-item>Expandir</button>
              <button mat-menu-item>Eliminar</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!--ng2-file-input class="input" (onAction)="onAction($event)" ></ng2-file-input-->
          <div class="row">
      <div class="col-md-2 col-lg-3">
      <input type="file" accept=".json" class="btn btn-info import" id="img_2" name="img_2" (change)="importGraph($event)">
    </div>
  </div>
          <button class="btn btn-success"><a href="http://josemanuelgcgn.com/" target="_blank">Ir al Diseñador</a></button>
          <div>
    <app-diagram-editor
     [model]="model"
     (nodeSelected)="showDetails($event)"
     (modelChanged)="onModelChanged($event)">
    </app-diagram-editor>
    <form *ngIf="node" #form="ngForm" (ngSubmit)="onCommitDetails()">
      Node Details:
      <div><label>Key: </label>{{node.key}}</div>
      <div><label>Text: </label><input [(ngModel)]="data.text" name="text"></div>
      <div><label>Color: </label><input [(ngModel)]="data.color" name="color"></div>
      <div><label>Location: </label>{{node.location.x.toFixed(2)}}, {{node.location.y.toFixed(2)}}</div>
      <div><label># Links: </label>{{node.linksConnected.count}}</div>
      <button type="submit">Commit Details</button>
      <button (click)="onCancelChanges()">Cancel Changes</button>
    </form>
  </div>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="card.title === 'Estadísticas'" class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Guardar</button>
                <button mat-menu-item>Eliminar</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>
                <mat-grid-list cols="2" rowHeight="325px">
                    <mat-grid-tile *ngFor="let card of cardsEstadisticas" [colspan]="card.cols" [rowspan]="card.rows">
                      <mat-card class="dashboard-card">
                        <mat-card-header>
                          <mat-card-title>
                            {{card.title}}
                            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                              <button mat-menu-item>Guardar</button>
                              <button mat-menu-item>Eliminar</button>
                            </mat-menu>
                          </mat-card-title>
                        </mat-card-header>
                        <mat-card-content *ngIf="card.title === 'Métricas'" class="dashboard-card-content">
                          <div class="metricas" style="display: block">
                              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                                  <!--- Note that these columns can be defined in any order.
                                        The actual rendered columns are set as a property on the row definition" -->
                                
                                  <!-- Position Column -->
                                  <ng-container matColumnDef="position">
                                    <th mat-header-cell *matHeaderCellDef> Def. Métrica </th>
                                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                  </ng-container>
                                
                                  <!-- Name Column -->
                                  <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Valor </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                  </ng-container>
                              
                                
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                              <!--canvas baseChart
                                          [data]="doughnutChartData"
                                          [labels]="doughnutChartLabels"
                                          [chartType]="doughnutChartType"
                                          (chartHover)="chartHovered($event)"
                                          (chartClick)="chartClicked($event)"></canvas-->
                            </div>
                            
                            <!--div class="grafico">
                              <div style="display: block">
                                <canvas baseChart
                                        [datasets]="barChartData"
                                        [labels]="barChartLabels"
                                        [options]="barChartOptions"
                                        [legend]="barChartLegend"
                                        [chartType]="barChartType"
                                        (chartHover)="chartHoveredGrafica($event)"
                                        (chartClick)="chartClickedGrafica($event)"></canvas>
                              </div>
                              <button (click)="randomize()">Actualizar</button>
                            </div-->
                        </mat-card-content>
                        <mat-card-content *ngIf="card.title === 'Gráficos comparativa'" class="dashboard-card-content">
                         <div>
                          <app-diagram-editor-comparator
                          [model]="modelComparador">
                         </app-diagram-editor-comparator>
                         <div style="display: inline-table; margin-top: 30px;">
                         <div *ngFor="let l of listaNodos" class="listaNodos" >
                            <p class= "Nodo">{{l}}</p>
                         </div>
                        </div>
                        </div>

                          </mat-card-content>
                      </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            
          </mat-card-content>
        </mat-card>
        <mat-card *ngIf="card.title === 'Modelo Alumno'" class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{card.title}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Guardar</button>
                  <button mat-menu-item>Expandir</button>
                  <button mat-menu-item>Eliminar</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              
              <!--div ng-app="httpApp" ng-controller="httpController">
                  <ng2-file-input class="input" (onAction)="onAction($event)" ></ng2-file-input>
              </div-->
              <!--form #formulario="ngForm" (ngSubmit)="addActivity(formulario)" autocomplete="off">
              <div class="form-group">
                <input type="file" class="form-control" id="img" name="img">
              </div>
              <button type="submit" class="btn btn-primary">Subir Archivo</button>
            </form-->
            <div class="col-md-2 col-lg-3">
              <input type="file" accept=".json" class="btn btn-info import" id="img" name="img" (change)="addActivity($event)">
            </div>
            <button class="btn btn-success"><a href="http://josemanuelgcgn.com/" target="_blank">Ir al Diseñador</a></button>
          
          <div>
                <app-diagram-editor
                 [model]="model3"
                 (nodeSelected)="showDetails($event)"
                 (modelChanged)="onModelChanged($event)">
                </app-diagram-editor>
                <form *ngIf="node" #form="ngForm" (ngSubmit)="onCommitDetails()">
                  Node Details:
                  <div><label>Key: </label>{{node.key}}</div>
                  <div><label>Text: </label><input [(ngModel)]="data.text" name="text"></div>
                  <div><label>Color: </label><input [(ngModel)]="data.color" name="color"></div>
                  <div><label>Location: </label>{{node.location.x.toFixed(2)}}, {{node.location.y.toFixed(2)}}</div>
                  <div><label># Links: </label>{{node.linksConnected.count}}</div>
                  <button type="submit">Commit Details</button>
                  <button (click)="onCancelChanges()">Cancel Changes</button>
                </form>
              </div>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>