.grid-container {
  /**margin: 20px;**/
  margin-top: 6px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
    top: 101px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.custom-component-drop-zone {
  width: 300px;
  height: 300px;
}

.ng2-file-input img {
  width: 89%;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  margin-top: 0%;
  margin-left: 12%;
}

.grafico{
  padding-top: 20%;
}

.listaNodos{
  width: 120px;
    height: 40px;
    max-height: 100px;
    position: relative;
    text-align: center;
    background: lightgreen;
}

.Nodo{
  padding-top: 12px;
}
table.mat-table {
  width: 100%;
  overflow: auto;
}
.noVisibleMenu{
  opacity: 0.3;
  pointer-events: none;
}
.alertSing{
  position: absolute;
  width: 36%;
  left: 32%;
  z-index: 2;
  bottom: 86%;
}
.collapsed {
  margin-left: 100px;
}
.app-sidebar-Menu{
  pointer-events: none;
}
.metricas{
  overflow: auto;
  display: block;
  max-height: 545px;
}
.header_title{
  height: 82px;
  background-color: #e8e8ef;
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: 0px;
}
.mat-h1{
  text-align: center;
  margin-top: 1%;
}
.menu{
  margin-top: -1%;
  background-color: #6d6d6f;
  height: 47px;
  z-index: 3;
  position: fixed;
  top: 96px;
  width: 100%;

}
.button_menu{
  cursor: pointer;
  background-color: #6d6d6f;
  color: white;
}