.database{
    position: absolute;
    top: -23px;
    width: 865px;
    left: 0px;  
    background-color: #e6e6e6;
    z-index: 2;
    margin-top: 2.7%;
    height: 92%;
    overflow: auto;
}
.form-group{
    margin-left: 6%;
    width: 45%;
    margin-top: 5%;

}
.icon_close{
    margin-left: 28%;
    margin-top: 3%;
    font-size: 20px;
    cursor: pointer;
}
.close_header{
    display: flex;
}