<div class="database" [@enterAnimation]>
    <div class="close_header">
  <h2 style="margin-top: 2%;margin-left: 2%;"> Datos del Mapa Conceptual a Cargar.</h2>
  <i class="fa fa-window-close icon_close" (click)="close($event)"></i>
</div>
          <div class="form-group">
            <label for="NameGraph">Nombre del Mapa Conceptual</label>
            <input type="NameGraph" class="form-control" id="NameGraph" #box (keyup)="nameGraph(box.value)">
          </div>
          <div class="form-group">
              <input type="file" accept=".json" class="btn btn-success import" id="img_3" name="img_3" (change)="importGraph($event)">
    
          </div>
          <div class="checkbox form-group">
            <label><input type="checkbox" (click)="isAlumno($event)">  ¿Es Tipo Alumno?</label>
          </div>
          <button class="btn btn-default form-group" (click)="add()">Enviar</button>
          <ngb-alert *ngIf="alert" class="alertSing" type=success (close)="closeAlert()">Grafo cargado correctamente.</ngb-alert>
          <ngb-alert *ngIf="error" class="alertSing" type=danger (close)="closeAlert()">No se ha podido cargar el grafo, inténtelo más tarde.</ngb-alert>
</div>