<div class="listado">
  <table *ngIf="nodos" mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Definición del Nodo -->
    <ng-container matColumnDef="text">
      <th mat-header-cell *matHeaderCellDef > Descripción del Nodo </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'comun': element.comun === 'Si', 'noComun': element.comun === 'No'}"> {{element.text}} </td>
    </ng-container>
  
    <!-- Valor Comun -->
    <ng-container matColumnDef="comun">
      <th mat-header-cell *matHeaderCellDef> Nodo Común </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'comun': element.comun === 'Si', 'noComun': element.comun === 'No'}"> {{element.comun}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumnsNodos"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsNodos;"></tr>
  </table>
  <table *ngIf="!nodos" mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Definición del Nodo -->
    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef > Descripción del Nodo Inicial</th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'comun': element.comun === 'Si', 'noComun': element.comun === 'No'}"> {{element.from}}</td>
    </ng-container>
    <ng-container matColumnDef="dir">
      <th mat-header-cell *matHeaderCellDef> Dirección del Enlace</th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'comun': element.comun === 'Si', 'noComun': element.comun === 'No'}"> {{element.dir}} </td>
    </ng-container>
    <!-- Valor Comun -->
    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef> Descripción del Nodo Final</th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'comun': element.comun === 'Si', 'noComun': element.comun === 'No'}"> {{element.to}} </td>
    </ng-container>

    <ng-container matColumnDef="comun">
      <th mat-header-cell *matHeaderCellDef> Enlace Común </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'comun': element.comun === 'Si', 'noComun': element.comun === 'No'}"> {{element.comun}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsEnlaces"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsEnlaces;"></tr>
  </table>
</div>
