.diagramsPanel {
    width:100%;
    white-space:nowrap;
  }
  
  .diagramDiv {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    width: 80%;
    height: 240px;
  }
  .diagramDiv_Expand{
    display: inline-block;
    vertical-align: top;
    width: 80%;
    height: calc(100vh - 191px);
  }
  .border_leyenda{
    border: 1px solid black;
    height: 40px;
    width: 25%;
    display: inline-block;
  }
  .line_red{
    border: 1px solid red;
    margin-top: 4%;
    width: 5%;
    display: inline-block;
  }
  .line_blue{
    border: 2px solid blue;
    margin-top: 4%;
    margin-left: 4%;
    width: 5%;
    display: inline-block;
  }
  .span_leyenda{
    width: 95%;
    margin-left: 2%;
  }
  .node_selected{   
    position: fixed;
    top: 258px;
    width: 233px;
    overflow-x: auto;
    padding-bottom: 40px;
    right: 0;
    color: white;
  }
  .mat-header-row{
    background: beige;
  }
  .header_nodo{
    color: black;
  }
  td.mat-cell.cdk-column-metrica.mat-column-metrica.ng-star-inserted {
    padding-right: 25px;
}