.diagramsPanel {
    width:100%;
    white-space:nowrap;
  }
  
  .diagramDiv {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    width: 80%;
    height: 400px;
  }
  
  .paletteDiv {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    width: 19%;
    height: 400px;
  }
  .diagramDiv_Expand{
    display: inline-block;
    vertical-align: top;
    width: 80%;
    height: calc(100vh - 191px);
  }
  .node_selected{   
    position: fixed;
    top: 139px;
    width: 16%;
    overflow-x: auto;
    padding-bottom: 40px;
    right: 0;
    color: white;
    right: 14px;
  }
  .mat-header-row{
    background: beige;
  }
  .header_nodo{
    color: black;
  }
  td.mat-cell.cdk-column-metrica.mat-column-metrica.ng-star-inserted {
    padding-right: 25px;
}
table.mat-table {
  width: 100%;
  overflow: auto;
}